
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Employee", "DirectTo"))
{
<input type="submit" class="btn btn-primary btn-lg" value="Employee"/>
}
@using (Html.BeginForm("Applicant", "DirectTo"))
{
    <input type="submit" class="btn btn-primary btn-lg"  value="Applicant"/>
}

